<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="custom-container" style="padding-top: 75px;">
        <div class="jumbotron">
            <h3 style=" font-size: 35px;
                        color: #ffffff;
                        font-weight: 600;
                        text-align: center;
                        line-height: 100px;
                        user-select: none;
                        border-radius: 15px 15px 15px 15px;
                        background: linear-gradient(-135deg, #c850c0, #4158d0);">
                Registration Form
            </h3>
            <br>
            {{!-- Display errors --}}
            {{!-- if condition --}}
            {{#if errors}}
            {{!-- Foreach loop --}}
            {{#each errors}}
            <div class="alert alert-danger alert-dismissible fade show">
                <strong>{{msg}}</strong>
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>
            {{/each}}
            {{!-- End Foreach loop--}}
            {{/if}}
            {{!-- End If Condition --}}

            <form method="post" id="registration" action="/auth/register">
                <div class="form-group">
                    <label for="name">Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="name" name="username" placeholder="Enter Your Name"
                        value="{{username}}" required="">
                </div>
                <div class="form-group">
                    <label for="email">Email<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Enter your email"
                        value="{{email}}" required="">
                </div>
                <div class="form-group">
                    <label for="password">Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="password"
                        placeholder="Enter Your Password" value="{{password}}" required=""> 
                </div>
                <div class="form-group">
                    <label for="cpassword">Confirm Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="cpassword" id="cpassword"
                        placeholder="Enter Same as Password" value="{{cpassword}}" required="">
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-info btn-block"
                        style="background: linear-gradient(-135deg, #c850c0, #4158d0); border-radius: 50px;">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            Already user? Login <a href="/auth/login">here</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    setTimeout(() => {
        $('.alert').remove();
    }, 3000)
</script>

</html>